.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
  padding:12px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    --animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size:1.5em;
  margin-left:.2em;
  margin-top:.5em;
}

.App-body {
  background-color: #282c34;
  height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}