body {
    color: antiquewhite;
}

.Section-Body {
    margin: 6px 36px 72px 36px;
    width: 100vw;
}

.Section-Label {
    font-size: 1.1em;
    font-weight: bold;
    margin:12px 0 24px 0;
}

.Section-Subsection {
    margin: 6px;
}

.Section-Instructions {
    margin:12px 0 24px 24px;
    font-size:0.75em;
    font-style: italic;
}

.FireData-Table {
    width: 80vw;
    border-collapse: collapse;
}

.FireData-Table-Header {
    text-align: center;
}

.FireData-Table,
.FireData-Table-Header,
.FireData-Table-Cell {
    border: 1px solid antiquewhite;
}

.FireData-Table-Header,
.FireData-Table-Cell {
    padding: 6px 12px;
}

.FireData-Table-Cell.Amount {
    text-align: right;
}

.FireData-Table-Cell.Text>input {
    width: 98%;
}

.Output-Chart {
    width:80vw;
    margin: 0 auto;
}

.Output-Table {
    margin:24px;
}
.Output-Table table,td {
    border:1px antiquewhite solid;
    padding:6px 18px;
    border-collapse: collapse;
}
.Output-Table .Amount {
    text-align: right;
}

.Field-label {
    margin-right: 12px;
    text-align: right;
}

.Text-long {
    width: 300px;
    height: 20px;
    font-size: .75em;
    grid-column: 2;
}

.Text-medium {
    height: 20px;
    font-size: .75em;
}

.Currency {
    width: 150px;
    height: 20px;
    font-size: .75em;
    text-align: right;
}

.Year {
    width: 90px;
}

.Grid4 {
    display: grid;
    grid-template-columns: 230px 1fr;
    grid-gap: 16px;
    width: 80vw;
}

.Grid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 16px;
    width:80vw;
}

.SubGrid2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 16px;
}


.G1 {
    grid-column: 1;
}

.G2 {
    grid-column: 2;
}

.G3 {
    grid-column: 3;
}

.G4 {
    grid-column: 4;
}


.Number-short {
    width: 100px;
}

.Spacer {
    min-height: 25px;
}

.Tab {
    display: inline-block;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
}

.Selected-tab {
    border: none !important;
    border-bottom: 1px solid !important;
    background-color: #282c34;
    border-color: rgba(250, 235, 215, 1) !important;
    border-radius: 5px 5px 0 0;
}

.Currency-total {
    text-align: right;
    width: 150px;
}

#Table-OnetimeContributions td:nth-child(2) {
    width: 280px;
}

#Table-OnetimeContributions td:nth-child(1n+3) {
    width: 100px;
}